body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 0.7em;
    color: #ccc;
    background-color: #333;
}

span.options {
    width: 30%;
    white-space: nowrap;
    align-items: center;
}

fieldset {
    border: 0.5px solid #aaa;
    border-radius: 5px;
    margin: 2em;
}

#event label,
#ticket label,
#event_time label:not([for="all_day"]):not([for="all_day"]) {
    display: block;
    margin-top: 0.3em;
}

fieldset#event,
fieldset#ticket,
fieldset#event_time {
    width: 20%;
    display: inline;
    vertical-align: top;
}

input:not([type="checkbox"]),
#event select {
    width: 90%;
    margin: 2px;
}
